input.hidden {
	display: none;
}
.pre-footer .warning-buy,
.pre-footer .control-label{
	display: none;
}
.row{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
}
.tabs{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;
	padding: 50px 0 70px;
}
.main-levels{
	max-width: 776px;
}
.result-popup{
	display: none;
}
.overlay{
	display: none;
	width: 50%;
	height: 50%;
	left: 25%;
	top: 25%;
	position: fixed;
	background: rgba(255,255,255, .5)
}
.area-list,
.area-list-2,
.area-list-3,
.area-list-0{
	display: none;
}
.area-logo{
	max-width: 200px;
	width: 100%;
	height: auto;
}
.result p{
	margin: 0;
}
.result{
	position: absolute;
	left: 0;
	top: 200px;
	max-width: 250px;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-webkit-flex-direction: column;
	-moz-flex-direction: column;
	-ms-flex-direction: column;
	-o-flex-direction: column;
	flex-direction: column;
	-ms-align-items: center;
	align-items: center;
	justify-content: center;
	color: #000;
	background: #fff;
}
.flex__center{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-webkit-flex-direction: column;
	-moz-flex-direction: column;
	-ms-flex-direction: column;
	-o-flex-direction: column;
	flex-direction: column;
	justify-content: center;
	-ms-align-items: center;
	align-items: center;
	max-width: 367px;
}
.detalied-row .flex-container{
	justify-content: flex-end;
}
.detalied-row .flex-container .button-black{
	margin-left: 50px;
}
.popup_detalied h2+p{
	min-width: 540px;
}
.popup-shop .popup_row,
.popup_img{
	-ms-align-items: flex-end;
	align-items: flex-end;
}
.popup-shop .popup_row{
	-ms-align-items: center;
	align-items: center;
}
.popup_img img{
	height: 100%;
}
.btn__close{
	position: absolute;
	top: 0;
	right: 0;
	width: 44px;
	height: 44px;
	padding: 0;
	margin: 0;
	border: 0;
	border-radius: 0;
	outline: none;
	background: 0 0;
	z-index: 10;
	cursor: pointer;
}
.btn__close:after {
	content: '×';
	position: absolute;
	top: 5px;
	right: 5px;
	width: 30px;
	height: 30px;
	font: 20px/30px Arial,"Helvetica Neue",Helvetica,sans-serif;
	color: #888;
	font-weight: 300;
	text-align: center;
	border-radius: 50%;
	border-width: 0;
	background: #fff;
	-webkit-transition: background .25s;
	transition: background .25s;
	box-sizing: border-box;
	z-index: 2;
}
.btn__close:hover:after {
	color: #555;
	background: #eee;
}
.area--detail{
	position: fixed;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	background: rgba(30,30,30, .7);
	z-index: 9;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-webkit-flex-direction: column;
	-moz-flex-direction: column;
	-ms-flex-direction: column;
	-o-flex-direction: column;
	flex-direction: column;
	-ms-align-items: center;
	align-items: center;
	justify-content: center;
	/*display: none;*/
}
.popup-shop{
	display: block;
	
}
.area--popup{
	max-width: 50%;
	width: 100%;
	background: #fff;
	height: 500px;
	color: #000;
	border-radius: 5px;
	position: relative;
}
path.disable{
	fill: #d5d3d3 !important;
}
.thumbl-level{
	padding: 0 !important;
}
.single-action-page_aside{
	width: 100%;
}
.single-action-page_body + div{
	width: 30%;
}
@media screen and (max-width: 768px){
	.pre-footer input {
		width: 100% !important;
		max-width: 375px;
	}
	.area--detail {
		position: relative;
		background: #fff;
		width: 100%; 
	}
	.popup_img img{
		max-width: inherit;
		width: 100% !important;
		height: 100%;
	}
	.popup_detalied h2+p{
		min-width: 100%;
	}
	.popup-shop, 
	.popup-shop.arenda-popup{
		max-width: 100%;
	}
}
.hidden {
	display: none;
}
.single-action-page_body{
	position: relative;
}
.ya-share2{
	display: none;
	position: absolute;
	right: 0;
	bottom: -2em;
}
.button__social{
	cursor: pointer;
}
/*.item+div:not(.item){
	display: none;
}*/