input.hidden {
	display: none;
}
.pre-footer .warning-buy,
.pre-footer .control-label{
	display: none;
}
.row{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
}
.col{
	width: 100%;
}